<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461235515410-nv8tvcrl27ovdqvf20fq25udvrn03l31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461235515410-nv8tvcrl27ovdqvf20fq25udvrn03l31</string>
	<key>API_KEY</key>
	<string>AIzaSyD10x5LBCng4zQwGxhRnUfhDv5W_j9YgWM</string>
	<key>GCM_SENDER_ID</key>
	<string>461235515410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.firebase.Bee-Plus-Enterprise</string>
	<key>PROJECT_ID</key>
	<string>fad-test-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>fad-test-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461235515410:ios:1417e7b887ae94c9bfe8cb</string>
	<key>DATABASE_URL</key>
	<string>https://fad-test-apps.firebaseio.com</string>
</dict>
</plist>